<%= render "logs/header"%>
<main class="devise-main">
<div class="contents row">
  <div class="container">
  <form>
    <h1><%= t('.sign_up') %></h1>   
       <%= render 'devise/shared/error_messages', model: @user %>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="mb-3">
        <%= f.label :nickname %><em>(6 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true , class: 'form-control'%>
      </div>
     
      <div class="mb-3">
        <%= f.label :gender_id %><br/>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {include_blank: '選択して下さい'}, {class:"select-box form-control", id:"gender-status"}) %>
      </div>

       <div class="mb-3">
        <%= f.label :profile %><br />
        <%= f.text_area :profile, rows:"7" ,maxlength:"1000", class: 'form-control'%>
      </div>
      

      <div class="mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" , class: 'btn btn-danger btn-block mt-3' %>
      </div>
    <% end %>
    </form>
  </div>
</div>
</main>
<%# <%= render "devise/shared/links" %>   
