<%= render "logs/header"%>
<main class="user-main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}'s profile "%>
      </h2>
      <div class="profile">
      <table class="table table-borderd table-danger">
        <tbody class="profile-table">
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <tr>
            <th class="table__col1">性別</th>
            <td class="table__col2"><%= @user.gender.name %></td>
          </tr>
        </tbody>
      </table>
      </div>
      </div >
      <h2 class="page-heading">
        <%= "#{@user.nickname}'s logs "%>
      </h2>
      <div class="container">
      <div class="row">
      <%= render partial: "logs/log", collection: @logs %>
      </div>
    </div>
  </div>
</main>