<%= render "logs/header"%>
<main>
  <div class="container-login shadow-lg">
   <h2 class="login-heading">Log In</h2>   
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <form>
     <div class='form-group'>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control',id: "exampleInputEmail1"%>
      </div>

      <div class="mb-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control',id: "exampleInputPassword1" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-3 form-check">
          <%= f.check_box :remember_me, class: "form-check-input" ,id:"exampleCheck1" %>
           <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-danger btn-block' %>
      </div>
    <% end %>
    </div>
   </form>
  </div>
</div>
</main>

