<div class="nested-fields">
  <div class="form-row">
    <div class="col-3">
      <%= f.text_field :training, placeholder:"種目",class: 'form_text form-control' %>
    </div>
    <div class="col-2">
      <%= f.text_field :weight_kg, placeholder:"重量",class: 'weight form_text form-control' %><span class="unit"><strong>kg</strong></span>
    </div>
    <div class="col-2">
      <%= f.text_field :weight_lb, placeholder:'ポンド',class: 'weight-lb form-control'%><span class="unit"><strong>lb</strong></span>
    </div>
    <div class="col-2">
      <%= f.text_field :rep, placeholder: "回数", class: 'form-control' %>
    </div>
    <div class="col-2">
      <%= f.text_field :set_number, placeholder: "セット数", class:'form-control'%>
    </div>
    <%= link_to_remove_association 'ー', f, class: "btn btn--red btn--cubic btn-circle" %>
  </div>  
</div>