<div class="container">
  <div class="row">
      <%= render partial: "log", collection: @logs %>
  </div> 
<<<<<<< Updated upstream
    <ul class="list-group list-group-flush"> 
    <% log.trainings.each do |training| %>
      <li class="list-group-item"> 
        <%= training.training %>
        <%= training.weight_kg %><span>kg</span>
        <%= training.weight_lb %><span>lb</span>
        <%= training.rep %><span>回</span>
        <%= training.set_number %><span>セット</span>
     </li> 
    </ul>  
    <% end %> 
  </div> 
<% end %>
</div> 
</div>
=======
</div>


>>>>>>> Stashed changes
