 
  <h2 class="page-heading">新規投稿</h2> 
    <%= form_with model: @log , local: true  do |f| %>
    <%= f.text_field :title, placeholder: "今日は何のトレーニングの日？" %> 
    <%= f.collection_select(:day_id, Day.all, :id, :name, {include_blank: '選択して下さい'}, {class:"select-box", id:"item-category"}) %>
    <span>曜日</span>
    <div class="add_logs">
    <%= f.fields_for :trainings, @log.trainings.build do |form| %>
    <%= render 'logs/log_form', {f:form} %>
    <div class="append_logs"></div>
    <div class="links">
    <%=link_to_add_association '追加', f, :trainings, partial: 'logs/log_form',data: { association_insertion_method: 'append' }, class: 'add_btn' %>
    </div>
   <% end %>
  <%= f.submit "保存する", class: :form__btn, id: "submit"  %>
<% end %>
